.line {
    height: 6px;
    width: 70px;
    background:#01ff6d;
    margin: 8px auto;
}
#app {
    width: 100%;
    height: 800px;
    background-color:#30831d
}
body {
    text-align: center;
}
h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: fantasy;
}
#games {
    width: 100%;
    height: 800px;
    background-color:#0872db;
}
img {
    transition: transform .2s;
}
img:hover{
    transform: scale(0.9);
}
#chatbots {
    width: 100%;
    height: 800px;
    background-color:#e2a41a;
}